body{
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    border-radius: 20px;
    border: 5px solid skyblue;
}

ul{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
ul li{
    position: relative;
    list-style: none;
}

ul li a{
    font-size: 4em;
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 1em;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.767);
}

ul li a::before{
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 8px solid var(--clr);
    -webkit-text-stroke: 1px var(--clr);
}

ul li a:hover::before{
    width: 95%;
    filter: drop-shadow(0 0 25px var(--clr));
}